:spot_feed_id: SPOT_FEED_ID

:twilio:
  :account_sid: account_sid
  :auth_token: auth_token
  :outgoing_number: outgoing_number

:ship_name: "ship_name" 

:notification_numbers:
  - '+<first number>'
  - '+<second number>'
